/*  font-family: 'Patrick Hand SC', cursive;     < Ecriture google font
    font-family: 'Bebas Neue', cursive; 
    font-family: 'Alumni Sans', sans-serif;  */

/*todo_____________________________________________________________________ Mise en page générale  */

* {
    scroll-behavior: smooth;
}

/*? Les separateuse < */
.sep{
    margin: auto 0;
    width: 100%;
}

/*todo_____________________________________________________________________ Mise en page du menu de navigation  */

/* img {
    margin: auto 0;
    width: 100%;
    margin-bottom: 5%;
} */

img.footernavimg{
    margin: auto 0;
    width: 100%;
    margin-bottom: 1%;
}

ul {
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(204, 189, 230);
    cursor: pointer;
}


nav {
    text-align: center;
    display: inline;
}

nav li {
	display: inline-block;
    margin: 2%;
	list-style: none; /* nécessaire pour IE7 */

}
/*?_________ Mise en page du menu de navigation _ LES SOUS MENU  */

nav ul::after{
    display: table;
    clear: both;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px rgb(221, 205, 248);
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav ul li {
    float: center;
    width: 25%;
    text-align: center;
    position: relative;
}

nav > ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
}

.deroulant > a::after{
    font-size: 10px;
}

/*todo_____________________________________________________________________ Mise en page du body */

/**__________ Page 1 (Scroll 1< Categorie "QUI JE SUIS") */

.titre {
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    margin-left: 2%;
    text-align: center;
}

.page1{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    margin-left: 2%;
}

/**__________ Page 2 (Scroll 2< Categorie "MES ETUDES") */

.page2 {
    background-color: rgb(228, 228, 228);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    padding-left: 2%;
    margin-top: -1%;                 /*? YEP ! Trouvez pour retiré la ptite ligne blanche entre la banderole de separation et le début de la categorie grise ! */
    margin-bottom: -2%;             /*?  Sens inverse ! Pour le bas < */ 
}

/**__________ Page 3 ( Categorie "MES PROJETS") */

.page3{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    margin-left: 2%;
}

/**__________ Page 4 ( Categorie "FORMATION : METIER INFORMATIQUE") */

.page4{
    background-color: rgb(228, 228, 228);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    padding-left: 2%;
    margin-top: -1%;
    margin-bottom: -2%;
}

/**__________ Page 5 ( Categorie "FORMATION : DEV BACK END ORIENTE DATA") */

.page5{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    padding-left: 2%;
}

/**__________ Page 6 ( Categorie "Contacte") */

.page6{
    background-color: rgb(228, 228, 228);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    padding-left: 2%;
    margin-top: -1%;
    margin-bottom: -2%;
}

/*todo_____________________________________________________________________ Mise en page du footer */

footer{
    margin-top: 2%;
}

.footerContenant {
    position: relative;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 0, 0);
    font-size: clamp(0.5rem, 4vw, 1.6rem);      /*? Text responsif */
}

.textfooter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}